version: 2.1

orbs:
  prometheus: prometheus/prometheus@0.17.1
  go: circleci/go@1.7.0

executors:
  # Whenever the Go version is updated here, .promu.yml
  # should also be updated.
  golang:
    docker:
      - image: cimg/go:1.19-node

jobs:
  test:
    executor: golang

    steps:
      - prometheus/setup_environment
      - go/load-cache
      - run:
          command: make
          environment:
            # By default, Go uses GOMAXPROCS but a Circle CI executor has many
            # cores (> 30) while the CPU and RAM resources are throttled. If we
            # don't limit this to the number of allocated cores, the job is
            # likely to get OOMed and killed.
            GOOPTS: "-p 2"
            GOMAXPROCS: "2"
            GO111MODULE: "on"
      - prometheus/store_artifact:
          file: uwsgi_exporter
      - go/save-cache:
          path: /go/pkg/mod

workflows:
  version: 2
  uwsgi_exporter:
    jobs:
      - test:
          filters:
            tags:
              only: /.*/
      - prometheus/build:
          name: build
          parallelism: 3
          filters:
            tags:
              only: /^v[0-9]+(\.[0-9]+){2}(-.+|[^-.]*)$/
      - prometheus/publish_main:
          context: timonwong-context
          requires:
            - test
            - build
          docker_version: "20.10.18"
          filters:
            branches:
              only: [main, master]
          image: circleci/golang:1-node
          quay_io_organization: ''
          docker_hub_organization: timonwong
      - prometheus/publish_release:
          context: timonwong-context
          requires:
            - test
            - build
          docker_version: "20.10.18"
          filters:
            tags:
              only: /^v[0-9]+(\.[0-9]+){2}(-.+|[^-.]*)$/
            branches:
              ignore: /.*/
          image: circleci/golang:1-node
          quay_io_organization: ''
          docker_hub_organization: timonwong
